# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environment variables (САМОЕ ВАЖНОЕ)
.env
.env.*
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Static files collected
staticfiles/
static_root/

